body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #000;
    background-image: url('/static/fp.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay {
    text-align: center;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.2);
}

.fingerprint {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background: url('/static/fpr.png') no-repeat center;
    display: block;
    background-size:contain;
    animation: pulse 2s infinite ease-in-out;
    transition: 0.5s ease;
    /* filter: grayscale(100%); */
}

.success {
    filter: drop-shadow(0 0 25px green);
}

.fail {
    filter: drop-shadow(0 0 25px red);
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #00b82200;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #860198;
}

/* Animation */
@keyframes pulse {
    0% {
        transform: scale(1) translateY(0);
    }
    50% {
        transform: scale(1.05) translateY(-5px);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}
